@model MyWebApplication2.Models.Class1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4 - 第一次搭配類別檔</title>
</head>
<body>
    <div>
        <h4>Index4 - 第一次搭配類別檔 ( / Models/Class1.cs檔)</h4>
        <hr />
        <h6>@Model.UserName</h6>
    </div>
        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
</body>
</html>
